<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <form class="form_center" #f="ngForm" (ngSubmit)="f.form.valid && login()">
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--                        //UserName//-->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input name="username" #username="ngModel" [(ngModel)]="form.username" matInput placeholder="Username" required minlength="3" maxlength="50">
                        <mat-icon color="primary" matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="username.hasError('required')">Username is required !</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">Username is have leas 3 characters !</mat-error>
                    </mat-form-field>
                    <br>
                    <!--password -->
                    <mat-form-field style="width: 400px" appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input id="pass" name="password" [(ngModel)]="form.password" #password="ngModel" matInput [type]="hide ? 'password' : 'text'" minlength="6" maxlength="100" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="password.hasError('required')"> Password is required </mat-error>
                        <mat-error *ngIf="password.hasError('minlength')"> Password is have leas 6 characters ! </mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')"> Password is have leas 100 characters ! </mat-error>
                    </mat-form-field>

                    <br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-success">Login
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
