<div class="container">
    <div class="row">
        <div class="col-12">
            <mat-card style="margin: 50px">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <button matSuffix (click)="logOut()" mat-stroked-button color="primary" class="mat-button-toggle-group btn-outline-danger">Logout
                    <mat-icon color="primary" >logout</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </mat-card>
        </div>
    </div>
</div>
